.default-color0.chart-pie { -fx-pie-color: #56788d; }
.default-color1.chart-pie { -fx-pie-color: #004c5b; }
.default-color2.chart-pie { -fx-pie-color: #860061; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }

